<div class="progress my-2 position-relative text-dark"
     style="height: 2rem;">
  <div *ngIf="base && percent"
       class="progress-bar bg-info overflow-hidden"
       role="progressbar"
       [style.width]="sanitizeStyle(percent)"
       [attr.aria-valuenow]="percent"
       aria-valuemin="0"
       aria-valuemax="100"></div>
  <div *ngIf="base"
       class="align-self-center position-absolute"
       style="left: 10px;">{{'component.liveResults.confidence_grade' | translate}}
  </div>
  <div *ngIf="base"
       class="align-self-center position-absolute"
       style="right: 10px;">{{percent}}&nbsp;|&nbsp;{{absolute}}&nbsp;/&nbsp;{{base}}
  </div>
  <div *ngIf="!base"
       class="w-100 d-flex align-items-center justify-content-center">
    <fa-icon [icon]="'spinner'"
             [spin]="true"></fa-icon>
  </div>
</div>
