#rangedSlider {
  width: 400px;
  height: 17px;
  position: relative;
  margin: 100px auto;
  background: #10171D;

  border-radius: 40px;

  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 1px 0 rgba(255, 255, 255, 0.13);
}

#rangedSlider .bar {
  width: 388px;
  height: 5px;
  position: relative;
  top: -4px;
  left: 4px;

  background: #1d2e38;
  background: linear-gradient(to left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);

  border-radius: 40px;
}

#rangedSlider .highlight {
  height: 2px;
  position: absolute;
  width: 388px;
  top: 6px;
  left: 6px;

  border-radius: 40px;

  background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 40px;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
}

input[type="range"]:hover ~ #rangevalue, input[type="range"]:active ~ #rangevalue {
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
}

/* Tool Tip */
#rangevalue {
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  left: 44.5%;
  padding: 6px 12px;
  border: 1px solid black;

  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.4);

  border-radius: 20px;
  width: 50px;
  filter: alpha(opacity=0);
  opacity: 0;

  transition: all 0.5s ease;
  top: -95px;
}

input[type="range"]:focus {
  outline: none;
}
