<div class="row">
  <div class="col-12 nicknameFilter">
    <input (input)="filterForKeyword($event)"
           [placeholder]="'component.nickname_categories.filter' | translate"
           [title]="'component.nickname_categories.filter' | translate"
           class="rounded p-1 w-100 mb-3 form-control"
           type="text"/>
  </div>

  <div [class.col-md-6]="hasSelectedCategory()"
       [class.col-sm-4]="hasSelectedCategory()"
       class="col-12 nickCategoryWrapper">
    <div class="form-row">
      <div (click)="toggleSelectedCategory(cat)"
           *ngFor="let cat of availableNickCategories()"
           [class.col-sm-12]="hasSelectedCategory()"
           [class.col-sm-6]="!hasSelectedCategory()"
           [class.disabled]="!getNumberOfAvailableNicksForCategory(cat)"
           [class.selectedCategory]="hasSelectedCategory(cat)"
           class="cursor-pointer col-6">
        <div class="card cursor-pointer rounded p-2 mb-2">
          <p [innerHTML]="getCategoryTranslation(cat) | translate"></p>
          <p>({{getNumberOfSelectedNicksOfCategory(cat)}} / {{getNumberOfAvailableNicksForCategory(cat)}})</p>
        </div>
      </div>
    </div>
  </div>
  <div (scrolled)="onScrollDown()"
       *ngIf="hasSelectedCategory()"
       [infiniteScrollDistance]="scrollDistance"
       [infiniteScrollThrottle]="throttle"
       class="col-12 col-sm-8 col-md-6"
       infinite-scroll>
    <div class="card rounded pt-2 mt-2 mt-sm-0">
      <div class="mx-2">
        <button (click)="toggleAllNicks()"
                [class.btn-success]="!hasSelectedAllNicks()"
                [class.btn-warning]="hasSelectedAllNicks()"
                class="btn btn-block cursor-pointer">
          <span *ngIf="hasSelectedAllNicks()">{{'component.nickname_categories.remove_all' | translate}}</span>
          <span *ngIf="!hasSelectedAllNicks()">{{'component.nickname_categories.choose_all' | translate}}</span>
        </button>
      </div>
      <div (click)="selectNick(nick)"
           *ngFor="let nick of availableNicks[selectedCategory] | justafew:visibleData"
           [class.selectedNickName]="hasSelectedNick(nick)"
           class="nickStyle p-2 m-2 cursor-pointer border-bottom">
      <span [innerHTML]="parseAvailableNick(nick)"
            class="nickName d-inline-block pb-1"></span>
      </div>
    </div>
  </div>
</div>
