<div class="bg-white text-dark p-3 mb-5">
  <div class="row">
    <div class="col-12 col-sm-auto d-flex align-items-center">
      <label class="mb-0 d-flex align-items-center cursor-pointer">
        <span class="checkbox-wrapper">
          <input type="checkbox"
                 [(ngModel)]="filterDemoQuiz"/>
          <span class="checkmark bg-white border rounded checked-dark border-dark"></span>
        </span>
        <span class="text-truncate">Show Demo Quizzes</span>
      </label>
    </div>

    <div class="col-12 col-sm-auto">
      <label class="mb-0 d-flex align-items-center cursor-pointer">
        <span class="checkbox-wrapper">
          <input type="checkbox"
                 [(ngModel)]="filterAbcdQuiz"/>
          <span class="checkmark bg-white border rounded checked-dark border-dark"></span>
        </span>
        <span class="text-truncate">Show ABCD Quizzes</span>
      </label>
    </div>

    <div class="col-12 col-sm-auto">
      <label class="mb-0 d-flex align-items-center cursor-pointer">
        <span class="checkbox-wrapper">
          <input type="checkbox"
                 [(ngModel)]="filterActiveQuiz"/>
          <span class="checkmark bg-white border rounded checked-dark border-dark"></span>
        </span>
        <span class="text-truncate">Show only active Quizzes</span>
      </label>
    </div>

    <div class="col-12 mt-2">
      <input class="form-control"
             type="text"
             [(ngModel)]="filterQuizName"
             placeholder="Search for quiz name"/>
    </div>
  </div>
</div>

<div *ngIf="quizzes | quizAdminFilter:{filterDemoQuiz: filterDemoQuiz, filterAbcdQuiz: filterAbcdQuiz, filterQuizName: filterQuizName, filterActiveQuiz: filterActiveQuiz} as results"
     class="row">
  <div *ngIf="!results.length"
       class="col-12">
    <h5 class="mt-5 mb-0 text-center">No quiz could be matched to your filter</h5>
  </div>
  <div *ngFor="let quiz of results"
       class="col-12">
    <div class="card my-3 text-dark p-0">
      <div class="card-body text-break">
        <div class="d-flex">
          <p class="card-text">
            <span>Name: </span>
            <span>{{quiz.name}}</span>
          </p>
          <div class="ml-auto">
            <fa-icon *ngIf="isDeletingElem(quiz)"
                     [icon]="'spinner'"
                     [spin]="true"></fa-icon>
            <div *ngIf="!isDeletingElem(quiz)"
                 class="d-flex">
              <fa-icon [icon]="'times'"
                       class="cursor-pointer"
                       (click)="deleteElem(quiz)"></fa-icon>
              <a class="nav-link text-dark p-0 ml-3"
                 [routerLink]="['/admin', 'quiz', quiz.id]">
                <fa-icon class="cursor-pointer"
                         [icon]="'edit'"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <p class="card-text"
           *ngIf="quiz.expiry">
          <span>Expiry: </span>
          <span>{{quiz.expiry | date}}</span>
        </p>
        <p class="card-text"
           *ngIf="quiz.visibility">
          <span>Visibility: </span>
          <span>{{quiz.visibility}}</span>
        </p>
        <p class="card-text">
          <span>Number of Questions: </span>
          <span>{{quiz.questionAmount}}</span>
        </p>
        <p class="card-text">
          <span>Number of Answers: </span>
          <span>{{quiz.answerAmount}}</span>
        </p>
        <p *ngIf="isActiveQuiz(quiz)"
           class="card-text">
          <span>Number of Attendees: </span>
          <span>{{quiz.memberAmount || 0}}</span>
        </p>
        <p class="card-text">
          <span>Is Active: {{isActiveQuiz(quiz)}}</span>
          <button *ngIf="isActiveQuiz(quiz)"
                  (click)="deactivateQuiz(quiz)"
                  class="badge badge-primary ml-2">Deactivate Quiz
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
