@import "prebuild";

@mixin showFooterElements() {
  opacity: 0.95;
  .footerElement {
    .footerElemText {
      display: block;
    }
  }
}

@mixin navbarFooterSMView() {
  position: absolute;
  max-width: 20vw;

  .footerElement {
    .footerElemText {
      display: none;
    }
  }
  &:hover {
    @include showFooterElements;
  }

  @include border-right-radius($border-radius);

  .footerElement {
    flex-grow: 0;

    .footerElemText {
      flex-shrink: 0;
      max-width: calc(20vw - 36px);
      line-height: 1;
    }
  }
}

.navbar-footer {
  z-index: 1040;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  @include media-breakpoint-only(xs) {
    min-height: 50px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
  }

  @include media-breakpoint-only(sm) {
    @include navbarFooterSMView();
  }

  @include media-breakpoint-up(md) {
    @include border-right-radius($border-radius);
    opacity: 0.95;
    max-width: 100%;
  }

  .footerElement {
    flex-shrink: 0;
    scroll-snap-align: start;
    height: 40px;

    @include media-breakpoint-only(xs) {
      flex-grow: 1;

      .footerElemText {
        display: flex;
      }
    }

    .badge {
      font-size: xx-small;
    }
  }

  &.collapsed {
    @include media-breakpoint-up(sm) {
      @include navbarFooterSMView();
    }
  }
}
