@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";
// @import "~intro.js/introjs.css";
// @import "~intro.js/themes/introjs-nassim.css";
@import '~ngx-toastr/toastr-bs4-alert';
@import "../borders";
@import "../checkbox";
@import "loader";
@import "keyframes";

body {
  font-family: $font;
  @include transitionEffect();
}

.card {
  @include transitionEffect();
}

pre {
  background: $bg-pre;
  padding: 1rem;
  border-radius: 10px;
}

code[class*="language-"], pre[class*="language-"] {
  /* Overrides color value from node_modules/prism-themes/themes/prism-ghcolors.css */
  color: $pre-color !important;
}

.progress {
  border: 1px solid $gray-200;
  overflow: visible;
}

.navbar-footer {
  background-color: $bg-footer;
  color: $footer-color;
  @include transitionEffect();
}

#logo-image {
  background-color: $logo-bg;

  @each $selector, $colorCode in $logo-fg {
    #{$selector} {
      fill: $colorCode;
    }
  }
}

fa-icon {
  &.cursor-pointer {
    &:hover {
      color: darken($secondary_text_color, 10)
    }

    &:active {
      color: darken($secondary_text_color, 50)
    }
  }
}

#connection-indicator {
  &.fill-success {
    fill: $success;
  }

  &.fill-warning {
    fill: $warning;
  }

  &.fill-danger {
    fill: $danger;
  }

  &.fill-grey {
    fill: $text-muted;
  }
}

.text-secondary-inverted {
  color: color-yiq($secondary) !important;
}

*::placeholder {
  opacity: 1;
  color: $footer-color;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: $footer-color;
}

*:-moz-placeholder, *::-moz-placeholder {
  opacity: 1;
  color: $footer-color;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: $footer-color;
}

*::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $secondary rgba($primary, 0.8);
}

*::-webkit-scrollbar-track {
  background: rgba($primary, 0.8);
}

*::-webkit-scrollbar-thumb {
  background-color: $secondary;
  border-radius: 6px;
  border: 3px solid rgba($primary, 0.8);
}

.statistics-icon-opacity {
  opacity: $statistics-icon-opacity;
}

.twitter-ancor a {
  color: $secondary_text_color;
}
