<h4 class="text-light mb-4">{{'component.member-group-select.title' | translate}}</h4>

<div *ngFor="let group of memberGroups"
     class="btn btn-light btn-block"
     (click)="addToGroup(group)">
  {{group}}
</div>