@import "../../../styles/vendor";

.preview-frame {

  &.device_xs {
    height: 570px;
    width: 270px;

    .preview-content {
      margin-top: 76px;
      height: calc(100% - 159px);
    }
  }

}

#question-preview {
  p {
    word-wrap: break-word;
  }
}

#answer-option-preview {
  overflow-x: hidden;
  overflow-y: auto;

  #answer-option-element-wrapper {

    .answer-option-element {
      height: 5rem;
      min-width: 5rem;
      background: #fff;
      padding: 1rem;
      flex-grow: 1;
      flex-shrink: 1;
      max-width: calc(100% - 1rem);

      .markdown-answer {
        align-items: center;
        display: flex;
        height: 100%;
        max-width: 100%;
        overflow: hidden;

        * {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.server-not-available-label {
  height: calc(100% - 10vh);
}

.mathjax-container {
  ::ng-deep svg {
    max-width: 100%;
  }
}
