<div id="mathjaxStyle"></div>
<div *ngIf="targetEnvironment === ENVIRONMENT_TYPE.ANSWEROPTIONS"
     [class]="'preview-frame overflow-auto position-relative ' + deviceClass()"
     id="answer-option-preview">
  <img alt="phone-preview"
       class="w-100 position-absolute"
       draggable="false"
       src="/assets/images/phone_empty.png"/>
  <div class="px-4 preview-content position-relative overflow-auto">
    <app-header [interactiveLogo]="false"
                [logoSize]="'xs'"
                [showHeader]="false"></app-header>

    <ng-container *ngIf="connectionService.serverAvailable;else notAvailableTmpl">
      <div class="d-flex justify-content-around align-items-center flex-wrap"
           id="answer-option-element-wrapper">
        <div *ngFor="let elem of dataSource; let i = index"
             [style.flex-basis]="question?.showOneAnswerPerRow ? '100%' : getComputedWidth()"
             class="answer-option-element d-flex justify-content-center align-items-center rounded m-2 cursor-pointer">
          <p *ngIf="question?.displayAnswerText"
             [innerHTML]="sanitizeHTML(elem)"
             class="mb-0 markdown-answer text-dark mathjax-container overflow-hidden"></p>
          <p *ngIf="!question?.displayAnswerText"
             class="mb-0 text-dark">{{normalizeAnswerOptionIndex(i)}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div *ngIf="targetEnvironment === ENVIRONMENT_TYPE.QUESTION"
     [class]="'preview-frame overflow-auto position-relative ' + deviceClass()"
     id="question-preview">
  <img alt="phone-preview"
       class="w-100 position-absolute"
       draggable="false"
       src="/assets/images/phone_empty.png"/>
  <div class="px-4 preview-content position-relative overflow-auto">
    <app-header [interactiveLogo]="false"
                [logoSize]="'xs'"
                [showHeader]="false"></app-header>
    <div *ngIf="connectionService.serverAvailable;else notAvailableTmpl"
         [innerHTML]="sanitizeHTML(dataSource)"
         class="mb-0 overflow-hidden mathjax-container"></div>
  </div>
</div>


<ng-template #notAvailableTmpl>
  <h3 class="text-center d-flex align-items-center server-not-available-label mb-0">
    {{'plugins.splashscreen.error.error_messages.no_preview_available' | translate}}
  </h3>
</ng-template>
