<div class="row d-flex flex-wrap mb-md-2">

  <div class="d-flex col-md-12 mb-2 text-nowrap">
    <label class="d-inline-flex mx-md-2 align-items-center mb-0">
      <span class="mr-2">Current Project:</span>
      <select #projectSelect
              (change)="setProject(projectSelect.value)"
              class="border-0 custom-select custom-select-sm ml-2">
        <option [value]="projectLoaderService.projects.Frontend">Frontend
        </option>
        <option [value]="projectLoaderService.projects.Backend">Backend
        </option>
      </select>
    </label>

    <span [class.badge-danger]="!projectLoaderService.connected"
          [class.badge-warning]="projectLoaderService.connected"
          class="d-inline-flex ml-2 align-items-center badge">
      <span *ngIf="!projectLoaderService.connected">Not&nbsp;</span>
      <span>Loaded</span>
      <span *ngIf="projectLoaderService.connected && !userService.staticLoginTokenContent.gitlabToken"
            class="text-danger">&nbsp;(Readonly - No Gitlab API Token set for user)</span>
    </span>
  </div>

  <div *ngIf="projectLoaderService.connected"
       class="d-flex col-md-4 mb-3 mb-md-0">
    <label class="d-inline-flex mx-md-2 align-items-center mb-0">
      <span class="mr-2">Show unused keys</span>
      <input type="checkbox"
             [(ngModel)]="unusedKeyFilter"/>
    </label>
  </div>

  <div *ngIf="projectLoaderService.connected"
       class="col-md-4 col-lg-3 d-flex offset-md-4 offset-lg-5">
    <div class="btn-group w-100 btn-group-sm">
      <button class="btn btn-secondary"
              (click)="updateData()"
              [disabled]="!languageLoaderService.changedData || isSubmitting"
              [title]="!userService.staticLoginTokenContent.gitlabToken ? 'No gitlab token set' : ''">
        <span *ngIf="!isSubmitting">Save Changes</span>
        <span *ngIf="isSubmitting">
          Please wait...
          <fa-icon [icon]="'spinner'"
                   [spin]="true"
                   class="ml-1"></fa-icon>
        </span>
      </button>
      <button class="btn btn-secondary"
              (click)="addKey()"
              [disabled]="isSubmitting">
        <span>Add Key</span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="projectLoaderService.connected"
     class="row">
  <div class="d-flex sticky-top col-12 my-2">
    <div class="bg-secondary d-flex w-100 py-1">
      <select #filterSelect
              (change)="changeFilter(filterSelect.value)"
              class="border-0 bg-transparent mr-2">
        <option [value]="filters.None"
                [selected]="filter === filters.None">No Filter
        </option>
        <option [value]="filters.InvalidKeys"
                [selected]="filter === filters.InvalidKeys">Empty Keys
        </option>
        <option [value]="filters.InvalidDE"
                [selected]="filter === filters.InvalidDE">Empty DE Keys
        </option>
        <option [value]="filters.InvalidEN"
                [selected]="filter === filters.InvalidEN">Empty EN Keys
        </option>
        <option [value]="filters.InvalidES"
                [selected]="filter === filters.InvalidES">Empty ES Keys
        </option>
        <option [value]="filters.InvalidFr"
                [selected]="filter === filters.InvalidFr">Empty FR Keys
        </option>
        <option [value]="filters.InvalidIt"
                [selected]="filter === filters.InvalidIt">Empty IT Keys
        </option>
      </select>
      <input type="text"
             class="d-flex flex-grow-1 border-0 w-100"
             #searchBox
             [value]="searchFilter"
             (keyup)="searchFilter = (searchBox.value)"
             placeholder="Search..."/>
    </div>
  </div>

  <div [class.col-md-6]="!!this.languageLoaderService.selectedKey"
       [class.d-none]="!!this.languageLoaderService.selectedKey"
       class="col-12 d-md-block key-list overflow-auto">
    <app-key-output [filter]="filter"
                    [unusedKeyFilter]="unusedKeyFilter"
                    [searchFilter]="searchFilter"></app-key-output>
  </div>
  <div *ngIf="!!this.languageLoaderService.selectedKey"
       class="col-md-6 d-flex flex-column value-list sticky-top">
    <hr class="bg-secondary w-100 d-md-none"/>
    <div class="d-flex align-items-center mb-3 d-md-none">
      <p [title]="this.languageLoaderService.selectedKey.key"
         class="text-bold text-italic text-underline font-italic text-truncate">{{this.languageLoaderService.selectedKey.key}}</p>
      <button (click)="dataChanged(null)"
              class="btn btn-secondary ml-auto btn-sm">
        <span class="mr-2">Close</span>
        <fa-icon [icon]="'times'"></fa-icon>
      </button>
    </div>
    <div *ngIf="isUnusedKey()"
         class="mb-0 text-center badge badge-warning my-2">This key is currently unused!
    </div>
    <div class="d-flex flex-column flex-grow-1 mb-2"
         *ngFor="let langKey of getKeys(languageLoaderService.language)">
      <p class="mb-0">{{languageLoaderService.languageTranslation[langKey.toUpperCase()]}}</p>
      <textarea class="w-100 key-textarea flex-grow-1"
                [class.cursor-not-allowed]="!userService.staticLoginTokenContent.gitlabToken"
                [disabled]="!userService.staticLoginTokenContent.gitlabToken"
                [title]="!userService.staticLoginTokenContent.gitlabToken ? 'No gitlab token set' : ''"
                (keyup)="updateKey($event, langKey.toLowerCase(), this.languageLoaderService.selectedKey)"
                [value]="this.languageLoaderService.selectedKey?.value[langKey.toLowerCase()] || ''"></textarea>
    </div>
  </div>
</div>

<h5 *ngIf="loading"
    class="text-center mt-5">Loading...</h5>
<h5 *ngIf="error"
    class="alert alert-danger mt-5 text-center">
  <span *ngIf="unauthorized">Not authorized to view this project</span>
  <span *ngIf="!unauthorized">Error while loading the project language definition</span>
</h5>
