<div *ngIf="questionText"
     [innerHTML]="sanitizeHTML(questionText)"></div>

<hr/>

<ng-container *ngIf="question?.TYPE === 'FreeTextQuestion'; else defaultAnswerView">
  <h5>{{'component.answeroptions.free_text_question.title' | translate}} <span [innerHTML]="sanitizeHTML(removeBreakFromAnswer(answers))"></span></h5>
</ng-container>

<ng-container *ngIf="question?.TYPE === 'RangedQuestion'">
  <h5>{{'component.answeroptions.ranged_question.min_range' | translate}}: {{getCurrentQuestionAsRanged()?.rangeMin}}</h5>
  <h5>{{'component.answeroptions.ranged_question.correct_value' | translate}}: {{getCurrentQuestionAsRanged()?.correctValue}}</h5>
  <h5>{{'component.answeroptions.ranged_question.max_range' | translate}}: {{getCurrentQuestionAsRanged()?.rangeMax}}</h5>
</ng-container>

<ng-template #defaultAnswerView>
  <p *ngFor="let elem of answers; let i = index"
     class="mb-0">
    <fa-icon *ngIf="question.TYPE !== 'SurveyQuestion'"
             [icon]="(isCorrectAnswerIndex(i) ? 'check-square' : 'square')"
             class="mr-2"></fa-icon>
    <span>{{normalizeAnswerIndex(i)}}:&nbsp;</span>
    <span [innerHTML]="sanitizeHTML(elem)"></span>
  </p>
</ng-template>
