@import "prebuild";

#quizSummaryHeader {

  @include media-breakpoint-only(sm) {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    opacity: 0.95;
    max-width: 20vw;
  }

  .element-wrapper {
    @include media-breakpoint-up(md) {
      @include border-right-radius($border-radius);
    }
  }

  span {
    word-wrap: break-word;
  }
}
