<div class="btn-group btn-header mb-3 text-nowrap overflow-auto d-flex flex-grow-1"
     role="group">
  <button type="button"
          class="btn"
          [class.btn-secondary]="isSelected('lobby')"
          [class.btn-light]="!isSelected('lobby')"
          (click)="openTab('lobby')">
    <span>{{'plugins.sound.lobby_music' | translate}}</span>
  </button>
  <button type="button"
          class="btn"
          [class.btn-secondary]="isSelected('countdownRunning')"
          [class.btn-light]="!isSelected('countdownRunning')"
          (click)="openTab('countdownRunning')">
    <span>{{'plugins.sound.running_music' | translate}}</span>
  </button>
  <button type="button"
          class="btn"
          [class.btn-secondary]="isSelected('countdownEnd')"
          [class.btn-light]="!isSelected('countdownEnd')"
          (click)="openTab('countdownEnd')">
    <span>{{'plugins.sound.finish_music' | translate}}</span>
  </button>
</div>

<datalist id="tickmarks">
  <option value="0"
          label="0%">
  <option value="10">
  <option value="20">
  <option value="30">
  <option value="40">
  <option value="50"
          label="50%">
  <option value="60">
  <option value="70">
  <option value="80">
  <option value="90">
  <option value="100"
          label="100%">
</datalist>

<div class="text-break mb-4 mt-2">
  <h5 class="card-text">{{'plugins.sound.global_volume' | translate}}</h5>

  <div class="card text-dark">
    <div class="card-body">

      <div class="row no-gutters align-items-center">

        <div class="col-sm-5">
          <label class="d-flex btn cursor-pointer mb-0 justify-content-center"
                 [class.btn-success]="config?.volumeConfig.useGlobalVolume"
                 [class.btn-danger]="!config?.volumeConfig.useGlobalVolume">
            <input type="checkbox"
                   class="d-none"
                   autocomplete="off"
                   role="switch"
                   [checked]="config?.volumeConfig.useGlobalVolume"
                   (change)="config?.volumeConfig.useGlobalVolume = !config?.volumeConfig.useGlobalVolume">
            <span *ngIf="config?.volumeConfig.useGlobalVolume">{{'plugins.sound.activated' | translate}}</span>
            <span *ngIf="!config?.volumeConfig.useGlobalVolume">{{'plugins.sound.deactivated' | translate}}</span>
          </label>
        </div>

        <div class="col-sm-7">
          <label class="mb-0 ml-3 mt-3 mt-sm-0 d-flex">
            <input type="range"
                   list="tickmarks"
                   class="flex-grow-1 align-self-center"
                   [(ngModel)]="config?.volumeConfig.global">
            <span class="ml-2">{{config?.volumeConfig.global}}&nbsp;&#37;</span>
          </label>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="isSelected('lobby')"
     class="text-break">
  <h5 class="card-text">{{'plugins.sound.lobby_music_detailed' | translate }}</h5>

  <div class="card text-dark">
    <div class="card-body">
      <div class="row no-gutters align-items-center">

        <div class="col-sm-5">
          <label class="d-flex btn cursor-pointer mb-0 justify-content-center"
                 [class.btn-success]="config?.enabled.lobby"
                 [class.btn-danger]="!config?.enabled.lobby">
            <input type="checkbox"
                   class="d-none"
                   [attr.aria-label]="'Activate/Deactivate Lobby Music Button'"
                   autocomplete="off"
                   role="switch"
                   [checked]="config?.enabled.lobby"
                   (change)="config?.enabled.lobby = !config?.enabled.lobby"
                   [title]="'Activate/Deactivate Lobby Music Button'">
            <span *ngIf="config?.enabled.lobby">{{'plugins.sound.active' | translate}}</span>
            <span *ngIf="!config?.enabled.lobby">{{'plugins.sound.inactive' | translate}}</span>
          </label>
        </div>

        <div class="col-sm-7">
          <!--suppress JSValidateTypes -->
          <app-audio-player [src]="config?.titleConfig?.lobby"
                            class="mb-0 ml-md-3 mt-3 mt-sm-0 d-flex"
                            [target]="'lobby'"
                            [original_volume]="config?.volumeConfig.useGlobalVolume ? toString(config?.volumeConfig.global) : toString(config?.volumeConfig.lobby)"
                            (volumeChange)="config?.volumeConfig.lobby = $event"></app-audio-player>
        </div>
      </div>

      <select class="custom-select mt-4"
              (change)="selectSound('lobby', $event)"
              title="soundSelect">
        <option *ngFor="let elem of lobbySongs"
                [selected]="config?.titleConfig?.lobby === elem.id"
                [value]="elem.id">{{elem.text}}
        </option>
      </select>

    </div>
  </div>
</div>

<div *ngIf="isSelected('countdownRunning')"
     class="text-break">
  <h5 class="card-text">{{'plugins.sound.running_music_detailed' | translate }}</h5>

  <div class="card text-dark">
    <div class="card-body">
      <div class="row no-gutters align-items-center">

        <div class="col-sm-5">
          <label class="d-flex btn cursor-pointer mb-0 justify-content-center"
                 [class.btn-success]="config?.enabled.countdownRunning"
                 [class.btn-danger]="!config?.enabled.countdownRunning">
            <input type="checkbox"
                   class="d-none"
                   [attr.aria-label]="'Activate/Deactivate Countdown Running Button'"
                   autocomplete="off"
                   role="switch"
                   [checked]="config?.enabled.countdownRunning"
                   (change)="config?.enabled.countdownRunning = !config?.enabled.countdownRunning"
                   [title]="'Activate/Deactivate Countdown Running Button'">
            <span *ngIf="config?.enabled.countdownRunning">{{'plugins.sound.active' | translate}}</span>
            <span *ngIf="!config?.enabled.countdownRunning">{{'plugins.sound.inactive' | translate}}</span>
          </label>
        </div>

        <div class="col-sm-7">
          <!--suppress JSValidateTypes -->
          <app-audio-player [src]="config?.titleConfig?.countdownRunning"
                            class="mb-0 ml-md-3 mt-3 mt-sm-0 d-flex"
                            [target]="'countdownRunning'"
                            [original_volume]="config?.volumeConfig.useGlobalVolume ? toString(config?.volumeConfig.global) : toString(config?.volumeConfig.countdownRunning)"
                            (volumeChange)="config?.volumeConfig.countdownRunning = $event"></app-audio-player>
        </div>

      </div>

      <select class="custom-select mt-4"
              (change)="selectSound('countdownRunning', $event)"
              title="soundSelect">
        <option *ngFor="let elem of countdownRunningSounds"
                [selected]="config?.titleConfig?.countdownRunning === elem.id"
                [value]="elem.id">{{elem.text}}
        </option>
      </select>

    </div>
  </div>
</div>

<div *ngIf="isSelected('countdownEnd')"
     class="text-break">
  <h5 class="card-text">{{'plugins.sound.finish_music_detailed' | translate }}</h5>

  <div class="card text-dark">
    <div class="card-body">
      <div class="row no-gutters align-items-center">

        <div class="col-sm-5">
          <label class="d-flex btn cursor-pointer mb-0 justify-content-center"
                 [class.btn-success]="config?.enabled.countdownEnd"
                 [class.btn-danger]="!config?.enabled.countdownEnd">
            <input type="checkbox"
                   class="d-none"
                   [attr.aria-label]="'Activate/Deactivate Countdown End Button'"
                   autocomplete="off"
                   role="switch"
                   [checked]="config?.enabled.countdownEnd"
                   (change)="config?.enabled.countdownEnd = !config?.enabled.countdownEnd"
                   [title]="'Activate/Deactivate Countdown End Button'">
            <span *ngIf="config?.enabled.countdownEnd">{{'plugins.sound.active' | translate}}</span>
            <span *ngIf="!config?.enabled.countdownEnd">{{'plugins.sound.inactive' | translate}}</span>
          </label>
        </div>

        <div class="col-sm-7">
          <!--suppress JSValidateTypes -->
          <app-audio-player [src]="config?.titleConfig.countdownEnd"
                            class="mb-0 ml-md-3 mt-3 mt-sm-0 d-flex"
                            [target]="'countdownEnd'"
                            [original_volume]="config?.volumeConfig.useGlobalVolume ? toString(config?.volumeConfig.global) : toString(config?.volumeConfig.countdownEnd)"
                            (volumeChange)="config?.volumeConfig.countdownEnd = $event"></app-audio-player>
        </div>
      </div>

      <select class="custom-select mt-4"
              (change)="selectSound('countdownEnd', $event)"
              title="soundSelect">
        <option *ngFor="let elem of countdownEndSounds"
                [selected]="config?.titleConfig?.countdownEnd === elem.id"
                [value]="elem.id">{{elem.text}}
        </option>
      </select>

    </div>
  </div>
</div>
